body {
  font-size: 18px;
  font-family: sans-serif;
}

section {
    clear: both;
}

h1 {
  font-size: 36px;
}

h2 {

}

p {

}

img.right {
  float: right;
  margin-left: 15px;
}

img.left {
  float: left;
  margin-right: 15px;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
